.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.wrapper {
  div:last-child {
    border-bottom: none;
  }
}

.comment__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4361ee;
}

.comment {
  font-size: 18px;
  line-height: 36px;
}

.date {
  font-size: 12px;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;

  button {
    margin-top: 10px;
  }
}
